.cardProducto {
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 4px 8px;
    width: 18rem;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: box-shadow 0.3s ease-in-out;
}

.cardProducto h3 {
    color: white;
}

.cardProducto p {
    color: white;
}

.cardProducto:hover {
    transform: scale(1.1);
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}

li:hover {
    transform: scale(1.05);
}

li:hover {
    cursor: pointer;
}




form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    flex-direction: column;
}

input[type="text"] {
    font-size: 2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 25rem;
    height: 60px;
    outline: none;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 2rem;
    border: solid;
    color: white;
    cursor: pointer;
}

input[type="email"] {
    font-size: 2rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    width: 25rem;
    height: 60px;
    outline: none;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 2rem;
    border: solid;
    color: white;
    cursor: pointer;

}

strong {
    color: white;
    justify-content: center;
}


label.form{
    font-size: 2rem;
}

.buttonform {
    background-color: rgb(58, 57, 57);
    color: white;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    font-size: 18px;
    margin-top: 2rem;
    width: 15rem;
    height: 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.btnProducto {
    background-color: rgb(58, 57, 57);
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    width: 40%;
    height: 2rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;

}

.btnProducto:hover {
    background: #ff96ad;
    box-shadow: 0 0 5px #ff96ad, 0 0 25px #ff96ad, 0 0 50px #ff96ad,
        0 0 200px #ff96ad;
}

button {
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    background-color: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border: none;
}

.contButton {
    width: 2rem;
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
    background-color: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}



.addButton {
    background-color: black;
    color: white;
    font-size: 14px;
    width: 8rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

/*Estilo para la lista */

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 3rem;
    padding: 0;
    list-style: none;
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}

.fin {
    font-size: 3rem;
    text-align: center;
}
.imgProducto {
    width: 15rem;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
}

li:hover img {
    transform: scale(1.05);
}

li:hover {
    cursor: pointer;
}

/*Mensaje: producto no disponible */
h2 {
    color: white;
    margin: auto;
    padding: 2rem;
}

