* {
  margin: 0;
  padding: 0;
  background-color: black;
}

h1{
  color: white;
  text-decoration: none;
  font-size: 60px;
  font-family: "Anton", sans-serif;
  margin-left: 3rem;
}

a{
  text-decoration: none;
}


h2 {
  color: grey;
  font-size: 40px;
  font-family: 'Anton';
  text-align: center;

}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

li {
  display: inline-block;
  cursor: pointer;
  font-family: 'Anton';
  font-size: 25px;
}

h3 {
  color: white;
  font-family: 'Anton';
  font-size: 25px;

}

.front1{
  color: white;
  font-family: 'Anton';
  font-size: 20px;
}
.front2{
  font-size: 10px;
}

.btnProducto{
  font-size: 18px;
  font-family: 'Anton';
}

.price{
  text-align: center;
}

.idd{
  text-align: center;
}

.name{
  text-align: center;
}

p{
  color: white;
  font-size: 28px;
  font-weight: bold;
  margin-left: 75px;
}

.dec {
  color: white;
  font-size: 14px;
  text-align: center;
  background-color: grey;
  cursor: pointer;
  margin-left: 4rem;
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  width: 10px;
  height: 2rem;
}



.add {

  background-color: #c1101a;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-bottom: 3rem;
    margin-top: 1rem;
    margin-left: 2rem;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Anton';
    cursor: pointer;
    transition: background-color 0.3s ease-in-out; 
}


img {
  
  margin: 2rem; 
}



h4 {
  color: white;
}

p.end{
  font-family: 'Anton';
  
}

.del{
  font-family: 'Anton';
  
}
.cheko{
  font-family: 'Anton';
}
.fin{
  font-family: 'Anton';
  font-size: 25px;
  display: flex;
  padding: 2rem;
  color: white;
  background-color: red;
  border-radius: 5px;
  margin: 3rem;
  width: fit-content;
  height: fit-content;
  margin: 3rem auto;
  cursor: pointer;
}

.checko{
  font-family: 'Anton';

}

